@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="default"] {
    --darkAccent: #1B48C4;
    --lightAccent: #216BEA;
    --badAccent: #FF282F;
    --darkBackground: #24232B;
    --lightBackground: #2F2F38;
    --text: #FFFFFF;
    --subText: #A0A0A0;
    --titlebar: #FFFFFF;
  }
  h1 {
    font-size: 3rem;
    margin: 0px;
    font-family: Disket-Bold;
    color: var(--text);
  }
  h2 {
    font-size: 2.25rem;
    margin: 0px;
    font-family: Disket-Bold;
    color: var(--subText);
  }
  h3 {
    font-size: 1.5rem;
    margin: 0px;
    font-family: Disket-Bold;
    color: var(--subText);
  }
  hr {
    border-color: var(--text);
  }

  label {@apply text-text font-[Inconsolata]}

  input {
    @apply bg-darkBackground text-text placeholder:text-subText font-inconsolata rounded-md p-2
  }

  select {
    @apply bg-darkBackground text-text placeholder:text-subText font-inconsolata rounded-md p-2
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F2F38;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
  width:5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*:focus {
  outline: none;
}

.webkit-no-drag {
  -webkit-app-region: no-drag;
}
